@model MVCAccountantv2.Models.Purchase

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceivingReportID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivingReportID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivingReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivingReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivingReportVendorInvoiceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivingReportVendorInvoiceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorID)
        </dd>
      
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ReceivingReportID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
