@model IEnumerable<MVCAccountantv2.Models.InventoryComposition>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InventoryCompositionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryCompositionDescription)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryCompositionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryCompositionDescription)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.InventoryCompositionID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.InventoryCompositionID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.InventoryCompositionID">Delete</a>
        </td>
    </tr>
}
</table>
<p>
    <ul>
        <li><a asp-controller="InventoryCompositions" asp-action="Index">Inventory Position</a></li>
        <li><a asp-controller="InventoryTypes" asp-action="Index">Inventory Type</a></li>
        <li><a asp-controller="InventoryDiameters" asp-action="Index">Inventory Diameter</a></li>
    </ul>
</p>