@model MVCAccountantv2.Models.Reservation_SaleOrderInventory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation_SaleOrderInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantityOrdered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityOrdered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SOPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SOPrice)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.SaleOrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
